<div>
    <div class="header">
        <div class="header-details">nav</div>
        <div class="header-details">The Product</div>
        <div class="header-details header-details-right">
            <div>
                <div class="user-details">image</div>
                <div class="user-details">John Smith</div>
            </div>
            <div>
                logout button
            </div>

        </div>
    </div>
    <div>label</div>
    <div> 
        <button (click)="saveOrder(orders)">create order</button>
    </div>
    <div>
        <div>
            <label>ID</label>
            <input [(ngModel)]="orders.id" style="margin: 10px" type="number"/>
        </div>
        <div>
            <label>Name</label>
            <input [(ngModel)]="orders.name" style="margin: 10px"type="text"/>
        </div>
        <div>
            <label>Weight</label>
            <input [(ngModel)]="orders.weight" style="margin: 10px"type="text"/>
        </div>
        <div>
            <label>Destination</label>
           <input [(ngModel)]="orders.destination" style="margin: 10px"type="text"/>
        </div>
        <div>
            <label>Creation Date</label>
            <input [(ngModel)]="orders.creation_date" style="margin: 10px"type="text"/>
        </div>
        <div>
            <label>Client ID</label>
            <input [(ngModel)]="orders.client_id" style="margin: 10px"type="text"/>
        </div>
                
    </div>
    <div>

        <table>
            <thead>
                <tr>
                    <th *ngFor="let column of orderLabels" (click)="columnSort(column.field)">{{ column.label }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of orderDetails">
                    <td contenteditable="true">{{ data.id }}</td>
                    <td contenteditable="true">{{ data.name }}</td>
                    <td contenteditable="true">{{ data.weight }}</td>
                    <td contenteditable="true">{{ data.destination }}</td>
                    <td contenteditable="true">{{ data.creation_date }}</td>
                    <td contenteditable="true">{{ data.client_id }}</td>

                </tr>
            </tbody>
        </table>

    </div>
</div>