<section class="login-section flex flex-column flex-center">

    <h1 class="mb-10">PIXC</h1>
    <h4 class="m-0 mb-10">Order Management System</h4>

    <div class="login-form">
        <div *ngIf="hasError" class="alert alert-danger" role="alert">username or password is incorrect</div>
        <input class="input mb-10" type="text" placeholder="Username" [(ngModel)]="user.username"/>
        <input class="input mb-20" type="password" placeholder="Password" [(ngModel)]="user.password"/>
        <button class="button button-teal button-large" (click)="login()">Login</button>
    </div>

</section>
