<div class="flex-row">
    <div class="login-container flex-column">
        <div class="image-container"><img class="default-image" src="https://shore-pro-tint.apptivate.it/assets/app/ionic/assets_dev/images/default_avatar.png"/></div>
        <div>
            <div class="margin-10">
                <input class="input" type="text" placeholder="Username" [(ngModel)]="user.name"/>
            </div>
            <div class="margin-10">
                <input class="input" type="password" placeholder="Password" [(ngModel)]="user.password"/>
            </div>
            <div class="margin-10 center-align">
                <button class="input-button" (click)="login()" routerLink="/order">Login</button>
            </div>
             
        </div>
    </div>
</div>