<div class="modal fade" id="create-order" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create New Order</h4>
      </div>
      <div class="modal-body">
         <div>
            <div>
                <label>ID</label>
                <input [(ngModel)]="orders.id" class="mb-10" placeholder="ID" type="number" />
            </div>
            <div>
                <label>Name</label>
                <input [(ngModel)]="orders.name" class="mb-10" placeholder="Name" type="text" />
            </div>
            <div>
                <label>Weight</label>
                <input [(ngModel)]="orders.weight" class="mb-10" placeholder="Weight" type="text" />
            </div>
            <div>
                <label>Destination</label>
                <input [(ngModel)]="orders.destination" class="mb-10" placeholder="Destination" type="text" />
            </div>
            <div>
                <label>Creation Date</label>
                <input [(ngModel)]="orders.creation_date" class="mb-10" placeholder="Creation Date" type="text" />
            </div>
            <div>
                <label>Client ID</label>
                <input [(ngModel)]="orders.client_id" class="mb-10" placeholder="Client ID" type="text" />
            </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveOrder(orders)" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
