<div class="modal fade" id="update-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create New Order</h4>
      </div>
      <div class="modal-body">
         <div>
            <div>
                <label>Username</label>
                <input [(ngModel)]="userCopy.username" class="mb-10" placeholder="Username" type="text" />
            </div>
            <div>
                <label>Password</label>
                <input [(ngModel)]="userCopy.password" class="mb-10" placeholder="Password" type="text" />
            </div>
         
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateUser(userCopy)" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
